.selector-1 {
  background-color: #f00;
  width: 300px;
  font-size: rfs(32px);
}

.selector-2 {
  font-size: rfs(2rem);
}

.selector-3 {
  font-size: rfs(2rem) !important;
}

.selector-4 {
  font-size: rfs(2rem);
}

.selector-5 {
  font-size: rfs(2em);
}

.selector-6 {
  font-size: rfs(inherit);
}

@supports (display: flex) {
  .selector-7 {
    font-size: rfs(28px);
  }
}

.selector-8 {
  font-size: rfs(32);
}

.selector-9 {
  padding: rfs(32);
  padding: 0 rfs(32);
}
